@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Urbanist, sans-serif !important;
 
  background: #0f172a !important;
}



hr {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  border: 0.3px solid #292e55 !important;
  border-radius: 10px;
}
h1 {
  color: white !important;
}
p {
  color: #94a3b8 !important;
}

.link {
  text-decoration: none;
  padding: 3px;
  color: rgb(59, 122, 230);
  background:
    linear-gradient(to right, rgb(77, 133, 230), rgb(85, 100, 231)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.15em, 0 0.15em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
  transition: all 500ms;
}

.link:hover,
.link:focus {

  background-size: 0 0.15em, 100% 0.15em;
  color: rgb(245, 122, 97);

}

img {
  border-radius: 10px;
}

.previous-button {
  background-color: #a7b2ff;
  color: black;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 300ms;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.previous-button:hover {
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
}

.previous-button:active {
  opacity: 0.9;
  border: 2px solid rgb(243, 233, 233);
}

blockquote {
  background-color: rgb(33, 22, 58);
  border-left: 3px solid blue;
  padding-left: 1rem;
  margin-left: 0rem;
}

.report-bugs {
  margin-top: 38px;
  margin-left: 30px;
  float: right;
}

.report-bugs-home {
  bottom: 5px;
  text-align: center;
}




.coursen-button {
  background-color: #a7b2ff !important;
  border-radius: 8px;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms;
  border: none;

  background:
    linear-gradient(to right, rgb(77, 133, 230), rgb(85, 100, 231)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 0% 0.15em, 0 0.15em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
  transition: all 500ms;
}

.coursen-button:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}