@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Urbanist, sans-serif !important;

  background: #0f172a !important;
}



hr {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  border: 0.3px solid #292e55 !important;
  border-radius: 10px;
}

h1 {
  color: white !important;
}

p {
  color: #94a3b8 !important;
}

.link {
  text-decoration: none;
  padding: 3px;
  color: rgb(59, 122, 230);
  background:
    linear-gradient(to right, rgb(77, 133, 230), rgb(85, 100, 231)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1)) !important;
  background-size: 100% 0.15em, 0 0.15em !important;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
  transition: all 500ms;
}

.link:hover,
.link:focus {

  background-size: 0 0.15em, 100% 0.15em;
  color: rgb(245, 122, 97);

}

img {
  border-radius: 10px;
}

.previous-button {
  background-color: #a7b2ff;
  color: black;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 300ms;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.previous-button:hover {
  border-radius: 5px;
  padding: 5px 25px 5px 25px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
}

.previous-button:active {
  opacity: 0.9;
  border: 2px solid rgb(243, 233, 233);
}

blockquote {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  background-color: rgb(22, 27, 58);
  border-left: 3px solid rgb(86, 86, 164);
  padding-left: 1rem;
  margin-left: 0rem;
  color: white;

}

.report-bugs {
  margin-top: 38px;
  margin-left: 30px;
  float: right;
}

.report-bugs-home {
  bottom: 5px;
  text-align: center;
}






.brand900 {
  padding-top: 4px;
  color: #94a3b8;
}

.code-block {
color:rgb(224, 224, 224);
  background-color: rgb(34, 36, 65);
  padding: 2px 4px;
  margin: 20px 0;
  line-height: 2.3;
  border-radius: 12px;
  overflow: auto;
 

}