html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: underline;
  transition:200ms;
  
}
a:hover {

  color:rgb(95, 95, 202);
  text-decoration: none;
}
img {
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  background-color:black;
  color:#A7B2FF
}

.previous-button {
  background-color: #A7B2FF;
  color: black;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  border: 2px solid transparent;
  cursor:pointer;
  transition:300ms;
  margin-bottom:2rem;
  margin-top: 2rem;
}
.previous-button:hover {
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  cursor:pointer;
  opacity: .7;
}
.previous-button:active {
  opacity: .9;
  border: 2px solid rgb(243, 233, 233);
}
blockquote {
  background-color: rgb(33, 22, 58);
  border-left: 3px solid blue;
  padding-left: 1rem;
  margin-left: 0rem;
}
.flexbox {
  display:flex;
}
.report-bugs {
  margin-top: 38px;
  margin-left: 30px;
  float:right;
}
.report-bugs-home {
  bottom:5px;
  position:absolute;
}